<h1>関連語</h1>

<% @synonyms.elements.each('toplevel/CompleteSuggestion/suggestion') do |element| %>
  <p><%= element.attributes["data"] %></p>
<% end %>

<%= button_to '関連語上位５件をDBに保存', synonyms_path, params: { search_word: @word, synonyms: five_synonyms(@synonyms) } %>